#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    font-size: large;
    font-weight: 600;
/*     justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow:auto; */
}

/**/
#sidebar {
    border: solid #3f6212 1px;
    grid-row: 1 /3 ;
    background-color: #4d7c0f;
    color: #f7fee7;
    z-index: 3;
}

#sidebar div div:hover {
    background-color: #3f6212;
    cursor: pointer;
}
#logo {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-auto-flow: column;
    font-size: 2rem;
    font-weight: 700;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
}
#logo:hover {
    background-color: #3f6212;
    cursor: pointer;
}
#logo-image {
    height: 48px;
    width: 48px;
}
#nav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    margin-bottom: 2.5rem;

}
.nav-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
}
#options {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    margin-bottom: 2.5rem;
}
.options {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
}

/*HEADER AND SEARCH BAR*/
#header {
    display:grid;
    z-index: 2;
    grid-column: 2/3;
    background-color: #f7fee7;
    box-shadow: -0.4rem 0.2rem 0.4rem #365314/*#d9f99d*//*#a3e635*/;
    grid-template-rows: auto auto;
    gap: 1rem;
}
.header-row {
    display: grid;
/*     grid-auto-flow: column; */
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.header-row-1 {
    margin-top: 1.5rem;
}
.header-row-2 {
    margin-bottom: 1.5rem;
}
#search {
    display: flex;
    gap: 1rem;
/*     height: 1.5rem; */
    justify-content: start;
    padding-left: 1rem;
    align-items: center;
}
#search-key {
    background-color: #ecfccb /*#d9f99d*/;
    border-radius:1rem;
    min-width: 10rem;
    min-height: 1.5rem;
    flex: 1;
    text-indent: 1rem;/*add text-indent*/
    outline: none;/*also remove outline*/
}
#avatar {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
}

#infos {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    padding-right: 2rem;
    align-items: center;

}
#infos div {
    margin-right: 1.5rem;
    cursor: pointer;
}
#user {
    display: flex;
    padding-left: 0.5rem;
/*     height: 1.5rem;
    justify-content: start; */
}
#big-avatar {
    border-radius: 50%;
    max-width: 3rem;
    max-height: 3rem;
}
#greating {
    padding-left: 1rem;
}
#user-name {
    padding-left: 1rem;
    font-size: larger;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    padding-right: 2rem;
    align-items: center;
}
#buttons button {
    background-color: #4d7c0f;
    border: 1px solid #3f6212;
    font-size: 1rem;
    border-radius: 2rem;
    color:#f7fee7;
    min-height: 2.5rem;
    min-width: 7rem;
    margin-right: 1.5rem;
}
#buttons button:hover {
    background-color: #3f6212;
    border: 1px solid #365314;
    cursor: pointer;
}

/*CARD AREA*/
#main-content {
    grid-area: 2/2/3/3;
    background-color: #ecfccb/*#d9f99d*/;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
h3 {
    padding-left: 1rem;
}
#project-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(min-content, max-content) ; 
    
}
#project-heading {
    grid-column-start: 1;
    grid-column-end: -1;
}
.project{
    display: grid;    
    gap: 0.5rem;
    background-color: #f7fee7;    
    grid-template-columns: 0.55rem 1fr;
    box-shadow: 0.2rem 0.2rem 0.2rem #365314/*#d9f99d*/;
    border-radius: 10px;
    box-sizing: content-box;

}
.bar{
    background-color: #701a75;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-details {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
} 
.tile-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tile-actions img {
    margin-right: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    cursor: pointer;
}
.other-tiles {
    display: grid;
    grid-template-rows: auto auto auto auto;
}
.announcements {    
    background-color: #f7fee7;
    box-shadow: 0.2rem 0.2rem 0.2rem #365314/*#d9f99d*/;
    border-radius: 10px;
    display: grid;
    box-sizing:content-box;
    margin: 1rem;
}
.announcements div {
    margin-left: 1.5rem;
    margin-right: 2rem;
    border-bottom: 1px solid #365314;
}
.announcements :last-child {
    border-bottom: 0px;
}
.trends {
    background-color: #f7fee7;
    box-shadow: 0.2rem 0.2rem 0.2rem #365314/*#d9f99d*/;
    border-radius: 10px;
    display: grid;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: auto auto;
    box-sizing:content-box;
    margin: 1rem;
    padding:1rem
}
.trends>img {
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 50%;
    margin-left: 1.5rem;
    border: 1px solid #365314;
}
.trends>div {
    margin-right: 2rem;
}